In [48]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier

In [49]:
df = pd.read_csv(r"C:\Users\naveen krishna\Desktop\heart_disease.zip")

In [50]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [51]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [52]:
df.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [53]:
df.keys()

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [55]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [56]:
knn = KNeighborsClassifier()
knn

KNeighborsClassifier()

In [64]:
X = df[["age"]]
y = df["chol"]

In [69]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.2,random_state=42)

In [83]:
X_train.shape

(820, 1)

In [85]:
X_test.shape

(205, 1)

In [87]:
y_test.shape

(205,)

In [89]:
y_train.shape

(820,)

In [73]:
KNN = KNeighborsClassifier(n_neighbors = 5)
KNN.fit(X_train,y_train)
y_pred=KNN.predict(X_train)

In [76]:
y_pred = KNN.predict(X_test)

In [82]:
y_pred

array([209, 282, 250, 200, 245, 197, 325, 229, 245, 174, 178, 271, 180,
       131, 240, 131, 166, 250, 186, 214, 131, 178, 211, 249, 131, 175,
       245, 186, 254, 166, 271, 227, 245, 282, 180, 240, 131, 228, 265,
       169, 229, 200, 248, 211, 211, 250, 149, 211, 167, 166, 247, 211,
       131, 282, 245, 265, 254, 178, 271, 211, 215, 211, 254, 166, 209,
       169, 220, 240, 250, 254, 250, 254, 166, 240, 249, 214, 325, 271,
       131, 149, 186, 271, 250, 131, 174, 254, 178, 325, 186, 166, 131,
       214, 167, 149, 249, 282, 240, 180, 240, 211, 229, 209, 248, 186,
       192, 211, 178, 325, 249, 227, 271, 227, 247, 209, 271, 211, 186,
       250, 254, 131, 209, 227, 214, 214, 186, 249, 169, 229, 250, 250,
       227, 240, 249, 229, 250, 192, 271, 227, 192, 186, 247, 234, 250,
       325, 180, 180, 247, 149, 209, 253, 245, 250, 214, 247, 166, 240,
       254, 250, 229, 200, 248, 178, 209, 209, 234, 325, 227, 209, 271,
       149, 166, 227, 304, 209, 169, 282, 204, 227, 248, 200, 169, 247,
       234, 131, 229, 254, 180, 271, 214, 248, 229, 131, 169, 131, 178,
       209, 253, 211, 169, 169, 211, 250, 169, 166, 211], dtype=int64)